:root {
    /* COLORS */
    --clr-dark: #201F1A;
    --clr-accent:#965E42;
    --clr-accent-2:#ff5a4b;
    --clr-light: #F9FAF8;

    /*TYPOGRAPHY*/
   --ff-primary: 'Roboto', sans-serif;

   --fw-light:300;
   --fw-regular:400;
   --fw-bold:900;

   --fs-100:16px;
   --fs-125:18px;
   --fs-150:24px;
   --fs-225:36px;
   --fs-300:48px;

}  
@media screen and (max-width:700px) {
    .action-call-accent {
        padding:2rem;
        margin-top:4rem;
        margin-bottom: 4rem;
        border-radius:8px;
        display: flex;
        flex-direction:column;
        gap:1rem;
        }
}

*,
::after,
::before {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height:100vh;
    font-family:var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size:var(--fs-100);
}

.header-info , 
.content-info,
.quote,
.action-call {
    padding-left: 15%;
    padding-right: 15%;
}

.hero {
    height:5rem;
    padding:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrap,
.hero-logo, 
.logo-link {
    max-width:100%;
    height:3rem;
    margin-right:2rem;
}

.hero-logo:hover {
    transform: rotate(10deg);
}

.nav > ul {
    display:flex;
    list-style: none;
    gap:2rem;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color:var(--clr-accent);
}

.header-info {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-info-left,
.header-info-right {
    flex-basis: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-info-right {
    display: flex;
    justify-content:center;
}

.title {
    max-width: 500px;
}

.header-description {
    max-width: 350px;
    min-width: 300px;
    margin-top: 1rem;
}

.brew-button {
    border:none;
    border-radius: 8px;
    padding:.5rem 1.5rem;
    max-width: fit-content;
    margin-top:2rem;
}

.brew-button:hover {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

.header-info-image {
   width:250px;
   height:100%;
   flex: 0 1 auto;
}

.content-info {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;;
}

.content-info-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:2rem;
    gap:2rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info > p {
    width:175px; 
    margin-top:1rem;
}
.info-image {
    height:100%;
    width:150px;
}

.quote {
    padding-top:6rem;
    padding-bottom: 6rem;
}

.quote p:nth-child(2) {
    margin-top:2rem;
    text-align: right;
}

.action-call-accent {
padding:2rem;
margin-top:4rem;
margin-bottom: 4rem;
border-radius:8px;
display: flex;
gap:1rem;
}

.action-call-accent  p:nth-of-type(1) {
    margin-bottom: .5rem;
}

.action-call-accent-left {
    display:flex;
    flex-wrap: wrap;
    flex-basis:50%;
    justify-content: flex-start;
}

.action-call-accent-right {
    display:flex;
    flex-wrap: wrap;
    flex-basis:50%;
    justify-content:center;
    align-items: center;
}

.brew-button-alt {
    border:1px solid var(--clr-light);
    border-radius: 8px;
    padding:.5rem 1.5rem;
    max-width: fit-content;
}

.brew-button-alt:hover {
    background-color: var(--clr-light);
    color: var(--clr-accent);
}

.footer {
    display: flex;
    align-items: center;
    gap:.5rem;
    flex-direction: column;
    padding: 1rem;
}

.footer-link {
    text-decoration: none; 
}

.footer-link:hover {
    color:var(--clr-accent);
}

/* Utility Class Selectors */

.clr-dark {
    color:var(--clr-dark)
}
.clr-accent {
    color:var(--clr-accent);
}
.clr-accent-2 {
    color:var(--clr-accent-2);
}
.clr-light {
    color:var(--clr-light)
}
.bg-clr-dark {
    background-color:var(--clr-dark)
}
.bg-clr-accent {
    background-color:var(--clr-accent);
}
.bg-clr-light {
    background-color:var(--clr-light)
}
.fw-bold {
    font-weight: var(--fw-bold);
}
.fw-light {
    font-weight: var(--fw-light);
    font-style: italic;
}
.fs-125 {
    font-size:var(--fs-125);
}
.fs-150 {
    font-size:var(--fs-150);
}
.fs-225 {
    font-size:var(--fs-225);
}
.fs-300{
    font-size:var(--fs-300);
}
